body {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:"Alex Brush", serif;
    background-image: url(foto/back\ all.jpg);
    color: #987a6c;
}

.container {
  width: 100%;
  text-align: center;
}

.lagu {
  position: absolute;
  bottom: 870px;
  left: 120px;
  z-index: 3;
  padding-left: 60px;
}

.text {
  font-family: "Great Vibes", serif;
  position: absolute;
  bottom: 780px;
  left: 5px;
  z-index: 3;
  padding-left: 45px;
}

.renda {
  width: 1000px;
  position: fixed;
  bottom: 390px;
  left: 0px;
  flex-wrap: wrap;
  flex-direction: row;
}

.rendabwh {
  width: 1000px;
  position: fixed;
  top: 400px;
  left: 0px;
  flex-wrap: wrap;
  flex-direction: row;
}

.flower {
  position: fixed;
  width: 0px;
  top: 0px;
  margin-top: 150px;
  margin-right: 50px;
}

.melody {
  position: fixed;
  width: 0px;
  top: 190px;
}

.box1 {
  position: fixed;
  width: 300px;
  height: 470px;
  top: 60px;
  background-color: #f4d3d8;
  border-radius: 20px;
  z-index: -1;
  filter:blur(2px);
  z-index: 1;
  padding-top: 130px;
}

.harushizu {
  position: absolute;
  bottom: 420px;
  left: 0px;
  z-index: 2;
  padding-top: 10px;
}

#dynamicimage {
  width: 290px;
}

.rose {
  position: fixed;
  top: 100px;
  left: 50px;
  z-index: 2;
  padding-top: 120px;
}

#dynamicrose {
  width: 260px;
}

.cherry {
  position: absolute;
  bottom: 700px;
  right: 20px;
  z-index: 3;
}

#cherry {
  width: 120px;
}

.foto {
  position: absolute;
  bottom: 580px;
  left: 160px;
  z-index: 2;
}

#foto {
  width: 190px;
}

.button {
  position: absolute;
  bottom: 250px;
  left: 50px;
  z-index: 2;
  padding-right: 50px;
  padding-left: 10px;
  filter: drop-shadow(0 0 10px #a96a6b);
}

#button {
  width: 100px;
}

.wave-menu {
  border: 2px solid #d1b1ae;
  border-radius: 50px;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: ease 0.2s;
  position: relative;
  background: #d1b1ae;
  bottom: 90px;
  right: 270px;
  z-index: 2;
 }
 
 .wave-menu li {
  list-style: none;
  height: 20px;
  width: 3px;
  border-radius: 10px;
  background: #a96a6b;
  margin: 0 4px;
  padding: 0;
  animation-name: wave1;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: ease 0.2s;
 }
 
 .wave-menu:hover > li {
  background: #a96a6b;
 }
 
 .wave-menu:hover {
  background: #d1b1ae;
 }
 
 .wave-menu li:nth-child(2) {
  animation-name: wave2;
  animation-delay: 0.2s;
 }
 
 .wave-menu li:nth-child(3) {
  animation-name: wave3;
  animation-delay: 0.23s;
  animation-duration: 0.4s;
 }
 
 .wave-menu li:nth-child(4) {
  animation-name: wave4;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
 }
 
 .wave-menu li:nth-child(5) {
  animation-delay: 0.5s;
 }
 
 .wave-menu li:nth-child(6) {
  animation-name: wave2;
  animation-duration: 0.5s;
 }
 
 .wave-menu li:nth-child(8) {
  animation-name: wave4;
  animation-delay: 0.4s;
  animation-duration: 0.25s;
 }
 
 .wave-menu li:nth-child(9) {
  animation-name: wave3;
  animation-delay: 0.15s;
 }
 
 @keyframes wave1 {
  from {
   transform: scaleY(1);
  }
 
  to {
   transform: scaleY(0.5);
  }
 }
 
 @keyframes wave2 {
  from {
   transform: scaleY(0.3);
  }
 
  to {
   transform: scaleY(0.6);
  }
 }
 
 @keyframes wave3 {
  from {
   transform: scaleY(0.6);
  }
 
  to {
   transform: scaleY(0.8);
  }
 }
 
 @keyframes wave4 {
  from {
   transform: scaleY(0.2);
  }
 
  to {
   transform: scaleY(0.5);
  }
 }

 @media screen and (max-width: 470px) {
  .renda {
    width: 1500px;
    bottom: 540px;
  }
  .rendabwh {
    width: 1500px;
    top: 480px;
  }
  .flower {
    top: 0px;
  }
  .melody {
    top: 200px;
  }
  .box1 {
    width: 260px;
  }
  .harushizu {
    left: 50px;
    top: 50px;
    margin-left: 0px;
  }
  .rose {
    top: 470px;
  }
  .cherry {
    bottom: 410px;
    right: 200px;
  }
  .wave-menu {
    right: 60px;
    bottom: 100px;
  }
  .foto {
    bottom: 160px;
    left: 180px;
  }
  .button {
    bottom: 100px;
    left: 120px;
  }
  .lagu {
    bottom: 450px;
    left: 130px;
  }
  .text {
    bottom: 200px;
  }
 }

 @media screen and (min-width:480px) and (max-width:600px) {
  .renda {
    width: 1500px;
    bottom: 400px;
  }
  .rendabwh {
    width: 1500px;
    top: 330px;
  }
  .flower {
    top: 0px;
  }
  .melody {
    top: 200px;
  }
  .box1 {
    width: 260px;
  }
  .harushizu {
    left: 70px;
    top: 50px;
  }
 }
