body {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Alex Brush", serif;
    font-weight: 400;
    background-image: url(foto/back\ all.jpg);
    color: #4b2c17;
}

.container {
    width: 100%;
    text-align: center;
    font-size: 17px;
}

img {
    max-width: 115%;
    position: relative;
    top: -25px;
    height: auto;
}

.renda {
    position: fixed;
    top: -210px;
    left: 0px;
}

.rendabwh {
    position: fixed;
    top: 430px;
    left: 0px;
}

.snowflake {
    position: absolute;
    top: -10px;
    z-index: 9999;
    color: #fff;
    font-size:medium;
    will-change: transform;
    user-select: none;
    animation-name: fall;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 70px;
    height: auto;
}
@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
.button {
    position: relative;
    top: -50px;
    left: 40px;
    transform: translate(-50%, 50%);
    width: 80px;
    cursor: pointer;
    filter: drop-shadow(0 0 15px hsl(25, 55%, 12%));
    z-index: 15;
}

@media screen and (max-width: 600px) {
    .renda {
        position: fixed;
        top: -210px;
    }
    .rendabwh {
        position: fixed;
        top: 580px;
    }
}