body {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Mynerve", serif;
    background-image: url(foto/back\ all.jpg);
    color: #c1ab97;
}

.container {
    width: 100%;
    text-align: center;
}

.back {
    position: fixed;
    top: 50px;
    left: 520px;
}

#back {
    width: 300px;
    height: 550px;
}

.foto1 {
    position: absolute;
    top: 130px;
    left: 540px;
}

#foto1 {
    width: 150px;
}

.ribbon {
    position: fixed;
    top: 20px;
    left: 610px;
}

#ribbon {
    width: 150px;
}

.foto2 {
    position: absolute;
    top: 300px;
    left: 680px;
}

#foto2 {
    width: 130px;
}

.button {
    position: fixed;
    top: 480px;
    left: 620px;
    filter: drop-shadow(0 0 10px #a96a6b);
    cursor: pointer;
}

#button {
    width: 100px;
}

.text1 {
    position: absolute;
    top: 130px;
    left: 670px;
    font-size: 11px;
}

.text2 {
    position: absolute;
    top: 320px;
    left: 550px;
    font-size: 11px;
}

@media screen and (max-width: 500px) {
    .back {
        top: 100px;
        left: 30px;
    }
    .ribbon {
        top: 60px;
        left: 120px;
    }
    .foto1 {
        top: 170px;
        left: 50px;
    }
    .foto2 {
        top: 320px;
        left: 180px;
    }
    .button {
        top: 520px;
        left: 130px;
    }
    .text1 {
        top: 170px;
        left: 180px;
        font-size: 11px;
    }
    .text2 {
        top: 330px;
        left: 55px;
        font-size: 12px;
    }
}